body
{
	/* Background pattern from subtlepatterns.com */
	background-image: url("background_imgs/funky-lines.png");
	font-size: 20px;
}

#container
{
	background-color: white;
	width: 300px;
	padding: 50px;
	padding-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	-webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
}

#logo
{
	width: 150px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;

}

.logo
{
	width: 120px;
	height: 50px;
	-webkit-box-shadow: 0px 0px 41px 29px rgba(230,0,0,1);	
	-moz-box-shadow: 0px 0px 41px 29px rgba(230,0,0,1);
	box-shadow: 0px 0px 41px 29px rgba(230,0,0,1);

}
.question
{
	font-size: 15px;
	font-family: Comic Sans, sans-serif;
	padding: 3px;
	color: #081108;
	padding-bottom: 0;
	text-align: center;
	padding-top: 7px;
	margin-top: 5px;
	text-decoration: underline;
}
.question:hover
{
	cursor: pointer;
	text-decoration: none;
	color: red !important;	
}


input[type=text],
input[type=password]
{
	width: 300px;
	background-color: #efefef;
	color: #666;
	border: 2px solid #ddd;
	border-radius: 5px;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
}

input[type=text]:focus,
input[type=password]:focus
{
	-webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	border: 2px solid #a5cda5;
	background-color: #e9f3e9;
	color: #428c42;
}

input[type=submit]
{
	width: 300px;
	background-color: #36b03c;
	font-size:20px;
	color: white;
	padding: 15px 10px;
	margin-top: 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}

input[type=submit]:focus
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
}

input[type=submit]:hover
{
	background-color: #37b93d;
}

input::-webkit-input-placeholder
{
    color: #999;
}
input:focus::-webkit-input-placeholder
{
    color: #428C42;
}
/* Firefox < 19 */
input:-moz-placeholder
{
    color: #999;
}
input:focus:-moz-placeholder
{
    color: #428C42;
}
/* Firefox > 19 */
input::-moz-placeholder
{
    color: #999;
}
input:focus::-moz-placeholder
{
    color: #428C42;
}
/* Internet Explorer 10 */
input:-ms-input-placeholder
{
    color: #999;
}
input:focus:-ms-input-placeholder
{
    color: #428C42;
}
