
					/*  paleta kolorow pasujacych do tla:
					slategrey - tlo 
					B644E8 - taki fiolkowy
					FF3200 - czerwony
					E8B40C - brudny pomaranczowy
					4DFF0D - limonkowy   */


body
{
	/* Background pattern is downloaded from www.toptal.com/designers/subtlepatterns */
	background-image:	url("background_imgs/funky-lines.png");
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	color: white;
	text-shadow:  0 1px  black;
	width: 1000px;

	margin: 0 auto;

}

#container
{
	margin-top: 15px;
	margin-bottom: 15px;
	width: 930px;
	height: 571px;
	margin-left: auto;
	margin-right: auto;

}

#topbar
{
	text-align: center;
}

#topbarL
{
	margin: 3px;
	width: 279px;
	height: 78px;
	float:  left;
	padding: 6px;
	border: groove 1px #ffffff;
	background-color: #e60000 ;
}
.logo
{
	text-align: center;
	width: 100px;
}

#name
{
	text-align: center;
	text-shadow:  2px  2px black;
	font-size: 18px;
	letter-spacing: 1px;
	font-weight: 600;
}

#topbarC
{
	margin: 3px;
	width: 279px;
	text-align: center;
	height: 78px;
	padding: 6px;
	float: left;
	font-size: 14px;
	background-color: #e60000;
	border: groove 1px #ffffff;
}


.panel_logowania
{
	float: left;
	margin: 5px;
	width: 127px;
	height: 30px;
	font-size: 18px;
	color: #fff !important;
	background-color: #b30000;
	border: solid 1px #ffffff;
	text-shadow: 2px 2px black;
}

.panel_logowania:hover
{
	background-color: #800000;
	cursor: pointer;
	border: groove 1px #ffffff;
	
}
#topbarR
{
	margin: 3px;
	height: 78px;
	width: 280px;
	padding: 6px;
	font-size: 12px;
	text-align: right;
	float: left;
	text-shadow: none;
	background-color: #e60000;
	border: groove 1px #ffffff;	
}

#zegar
{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 32px;
	text-shadow: -2px 2px black;
}

#koszyk
{
	letter-spacing: 1	px;
	
}
#menu
{
	clear: both;
	float: left;
}

.option
{
	margin: 3px;
	background-color: #a285f9;
	height: 38px;
	width: 279px;
	padding: 6px;
	text-align: justify;
	font-size: 22px;
	float: center;
	border: groove 1px #ffffff;
}

.option:hover
{
	height: 34px;
	width: 274px;
	border: outset 3px  #ffffff;
	 cursor: pointer;
}
.option1
{
	margin: 3px;
	background-color: #a285f9;
	height: 38px;
	width: 279px;
	padding: 6px;
	text-align: justify;
	font-size: 22px;
	float: center;
	border: groove 1px #ffffff;
	
}
#description
{
	
	margin-top: 3px;
	margin-left: 3px;
	background-color: #0033cc;
	width: 579px;
	height: 93px;
	float: left;
	font-size: 12px;
	text-align: justify;
	text-shadow: none;
	padding: 6px;
	border: groove 1px #ffffff;
	line-height: 14px;
}

#tiles
{
	margin: 3px;
}

.tile
{
	margin-top: 3px;
	margin-right: 1px;
	margin-left: 3px;
	background-color: #55a6f6;
	float: left;
	height: 93px;
	width: 181px;
	padding: 6px;
	text-align: center;
	border: groove 1px #ffffff;
	text: #fff;
}

.tile:hover
{
	width: 177px;
	background-color: #9eccfa;
	height: 89px;
	border: inset 3px #cfe6fc;
	cursor: pointer;
}
	
#footer
{
	clear: both;
	margin: 3px;
	background-color: #333333;
	font-size: 9px;
	text-align: center;
	width: 884px;
	height: 19px;
	padding: 3px;
	border: groove 1px #ffffff;
	text-shadow: none;
}


.obrazek_opcja
{
	width: 35px;
	float: right;
	margin-top: auto;
	margin-bottom: auto;

}

.socials
{
	float: left;
	margin-right: 5px;
	padding-top: 4px;	
	padding-bottom: 0;	
	width: 25px;
	float: right;
}

a.sociallink
{
	color: #ffffff;
	text-decoration: none;	
}
#fb
{
	background-color: #3B5998;
	height: 106px;
	
}

#yt
{
	background-color: #c4302b;
	height: 106px
	
}

#tw
{
	background-color: #00aced;
	height: 106px;
}

#gplus
{
	background-color: #dd4b39;
	height: 106px;
}


input[type=szukaj]
{
	float: left;
	width: 200px;
	height: 30px;
	background-color: #efefef;
	color: #666;
	border: 2px solid #0033cc;
	border-radius: 5px;
	font-size: 12px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	margin-top: 5px;
	margin-left: 15px;
}

input[type=szukaj]
{

	border: 2px solid #0033cc;
	background-color: #e9f3e9;
	color: #428c42;
}