
					/*  paleta kolorow pasujacych do tla:
					slategrey - tlo 
					B644E8 - taki fiolkowy
					FF3200 - czerwony
					E8B40C - brudny pomaranczowy
					4DFF0D - limonkowy   */


body
{
	/* Background pattern is downloaded from www.toptal.com/designers/subtlepatterns */
	background-image:	url("background_imgs/funky-lines.png");
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	color: white;
	text-shadow:  0 1px  black;
	width: 899px;
	margin: 0 auto;

}

#container
{
	margin-top: 15px;
	width: 899px;
	min-height: 564px;
	margin-left: auto;
	margin-right: auto;
}

#topbar
{
	text-align: center;
}

#topbarL
{
	margin: 3px;
	width: 279px;
	height: 78px;
	float:  left;
	padding: 6px;
	border: groove 1px #ffffff;
	background-color: #e60000 ;
}
.logo
{
	text-align: center;
	width: 100px;
}

#name
{
	text-align: center;
	text-shadow:  2px  2px black;
	font-size: 18px;
	letter-spacing: 1px;
	font-weight: 600;
}

#topbarC
{
	margin: 3px;
	width: 279px;
	text-align: center;
	height: 78px;
	padding: 6px;
	float: left;
	font-size: 14px;
	background-color: #e60000;
	border: groove 1px #ffffff;
}


.panel_logowania
{
	float: left;
	margin: 5px;
	width: 127px;
	height: 30px;
	font-size: 18px;
	color: #fff !important;
	background-color: #b30000;
	border: solid 1px #ffffff;
	text-shadow: 2px 2px black;
}

.panel_logowania:hover
{
	background-color: #800000;
	cursor: pointer;
	border: groove 1px #ffffff;
	
}
#topbarR
{
	margin: 3px;
	height: 78px;
	width: 280px;
	padding: 6px;
	font-size: 12px;
	text-align: right;
	float: left;
	text-shadow: none;
	background-color: #e60000;
	border: groove 1px #ffffff;	
}

#zegar
{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 32px;
	text-shadow: -2px 2px black;
}

#koszyk
{
	letter-spacing: 1	px;
	
}
#menu
{
	clear: both;
	float: left;
	width: 89px;
}

.option
{
	margin: 3px;
	margin-right: 5px;
	background-color: #a285f9;
	height: 38px;
	width: 35px;
	padding: 6px;
	text-align: center;
	font-size: 22px;
	float: left;
	border: groove 1px #ffffff;
}

.option:hover
{
	 border: double 1px  #ffffff;
	 cursor: pointer;
	 text-align: center;

}

#lista
{
	margin-top: 0;
	float: left;
	width: 805px;

}

.produkt
{
	clear: both;
	width: 794px;
	margin-top: 3px;
	margin-bottom: 5px;
	height: 99px;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	background-color: #fff;
	border: double 1px black;
	color: black;
	padding: 5px;
}

.produkt_img
{
	height: 80px;
	float: right;
	margin-right: 0;
	margin-top: auto;
	margin-bottom: auto;
}

#pole_ustawien
{
	background-color: #e6ffcc;
	min-height: 447px;
	margin-top: 3px;
	float: left;
	width: 794px;
	border: double 1px black;
	padding: 5px;
	color: #262626 !important;
	font-size: 11px;
	text-shadow: none;
	text-align: justify;
}

.ustawienie
{
	font-size: 15px;
	margin-left: 15px;
	margin: 5px;
	letter-spacing: 1px;
	text-shadow: none;
	font-weight: 700;
}
 .opcja
 {
	 font-size: 13px;
	font-weight: 400;
	 text-shadow:  none;
	 margin-bottom: 30px;

	 
 }
.link
{
	text-decoration: none;
	color: black;
	
}
 
 .link:hover
 {
	 color: red;
	 cursor: progress;
	 
 }
 #submit
 {
	 text-align: center;
 }

 .pytanie
 {
	 font-size: 14px;
	 letter-spacing: 1px;
	 width: left-side;
	 margin-left: 10px;
	 line-height: 30px;	
	font-weight: 700;
 }
 
#footer
{
	clear: both;
	margin-left: auto;
	margin-right: auto;
	margin: 3px;
	background-color: #333333;
	font-size: 9px;
	text-align: center;
	width: 884px;
	height: 19px;
	padding: 3px;
	border: groove 1px #ffffff;
	text-shadow: none;
}


.obrazek_opcja
{
	width: 35px;
	float: right;
	margin-top: auto;
	margin-bottom: auto;

}

.socials
{
	float: left;
	margin-right: 3px;
	margin-left: 3px;
	margin-top: auto;
	margin-bottom: auto;
	text-align: center;
	padding-top: 2px;	
	padding-bottom: 2px;	
	width: 25px;
	float: left;;
}

a.sociallink
{
	color: #ffffff;
	text-decoration: none;

	
}
#fb
{
	height: 108px;
	background-color: #3B5998;
	border: groove 1px #fff
}

#yt
{
	height: 108px;
	background-color: #c4302b;
	border: groove 1px #fff
}

#tw
{
	height: 108px;
	background-color: #00aced;
	border: groove 1px #fff	
}

#gplus
{
	height: 108px;
	background-color: #dd4b39;
	border: groove 1px #fff
	}